# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: "README.md"
    -   id: end-of-file-fixer
        exclude: "README.md"
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-ast
    -   id: double-quote-string-fixer
    -   id: debug-statements
    -   id: check-toml
    -   id: check-json
    -   id: check-xml


- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: "v0.0.265"
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      exclude: "README.md"

- repo: local
  hooks:
    - id: clear-notebook
      name: Clear outputs of README notebook
      entry: jupyter nbconvert --clear-output --inplace
      language: system
      files: README.ipynb

- repo: https://github.com/mwouts/jupytext
  rev: v1.14.5
  hooks:
    - id: jupytext
      files: README.ipynb
      args: [--from, ipynb, --to, markdown]


#     - id: create-markdown-from-readme
#       name: Make markdown readme file
#       entry: jupyter nbconvert --to markdown
#       language: system
#       files: README.ipynb
